body{
	border: 20px solid black;
    width: 70%;		
    padding: 30px;
    margin:  30px auto;	
}
img{
    width: 5cm;
    height:5cm;
    display:grid;
}
.pranay
{
    width: 5cm;
    height:5cm;
    display:grid;
}