
#board
{
    background-image: url("");
margin-left:550px;
}

body
{
    background-image: url("https://i.pinimg.com/originals/25/4e/d7/254ed747f4d08b05d9325950aeac57a9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 40px;
}